soap/wsclient/paymentProcessor.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://soap.ws.trainings.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="PaymentProcessor" targetNamespace="http://soap.ws.trainings.com/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://soap.ws.trainings.com/" elementFormDefault="unqualified" targetNamespace="http://soap.ws.trainings.com/" version="1.0">

  <xs:element name="processPayment" type="tns:processPayment"/>

  <xs:element name="processPaymentResponse" type="tns:processPaymentResponse"/>

  <xs:complexType name="processPayment">
    <xs:sequence>
      <xs:element minOccurs="0" name="PaymentProcessorRequest" type="tns:PaymentProcessorRequest"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PaymentProcessorRequest">
    <xs:sequence>
      <xs:element name="creditCardInfo" type="tns:CreditCardInfo"/>
      <xs:element minOccurs="0" name="amount" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CreditCardInfo">
    <xs:sequence>
      <xs:element name="cardNumber" type="xs:string"/>
      <xs:element name="expirtyDate" type="xs:dateTime"/>
      <xs:element name="firstName" type="xs:string"/>
      <xs:element name="lastName" type="xs:string"/>
      <xs:element name="secCode" type="xs:string"/>
      <xs:element name="Address" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="processPaymentResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="response" type="tns:PaymentProcessorResponse"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PaymentProcessorResponse">
    <xs:sequence>
      <xs:element name="result" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="processPaymentResponse">
    <wsdl:part element="tns:processPaymentResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="processPayment">
    <wsdl:part element="tns:processPayment" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="PaymentProcessor">
    <wsdl:operation name="processPayment">
      <wsdl:input message="tns:processPayment" name="processPayment">
    </wsdl:input>
      <wsdl:output message="tns:processPaymentResponse" name="processPaymentResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PaymentProcessorSoapBinding" type="tns:PaymentProcessor">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="processPayment">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="processPayment">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="processPaymentResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PaymentProcessor">
    <wsdl:port binding="tns:PaymentProcessorSoapBinding" name="PaymentProcessorPort">
      <soap:address location="http://localhost:8080/javafirstwsut/services/paymentProcessor"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>